# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.log

**/video_demo_app.mp4
**/promt.md
/OCR-RAG
/Smart_School_Bus_Tracking_System
/VinhKhanh_Audio_Guide
/cinema-booking-system
